*{
    background-color: lightgray;
}
h1{
    text-align: center;
}
h2{
    background-color: azure;
    text-align: center;
    padding: 5px;
    
    
}
img{
    border: 2px solid;
    border-radius: 10px;
    float: left;
    width: 600px;
    height: 400px;
    
}
